:root {
  --blue: #4c5fd5;
  --gray: #dadbf1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
/*Header*/

/*Header*/
header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid gray;
}
.left-header {
  display: flex;
}
.left-header > h2 {
  margin: 0 0.4rem;
  font-weight: 400;
  font-size: 24px;
}
.abstract:hover {
  opacity: 0.8;
  cursor: pointer;
}
.helpCenter:hover {
  text-decoration: underline;
  cursor: pointer;
}
.right-header {
  display: flex;
  padding-right: 100px;
}
button {
  margin: 0 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
.request {
  padding: 0.5rem 1.1rem;
  font-size: 24px;
}
.signIn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  font-size: 24px;
}
.signIn:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}
.request:hover {
  cursor: pointer;
}
.right-header-min {
  display: none;
}
.right-header-min {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.right-header-min > i {
  font-size: 28px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0rem 0rem 0rem 1rem;
}
.bx:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.search-header {
  display: none;

  justify-content: center;
  background-color: white;
  height: 88px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 100px;
}
.right-header-min {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.right-header-min > i {
  font-size: 28px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0rem 0rem 0rem 1rem;
}
.bx:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.search-header > input {
  width: 75%;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--gray);
  font-size: 1rem;
}
.search-header > i {
  font-size: 32px;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.5rem;
}
.bottom-signin {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  z-index: 3;
}
.bottom-signin > h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 44px;
  width: 50%;
  margin: 0 16px;
  padding: 32px 0px;
  font-weight: 400;
}
.underline {
  height: 1px;
  width: 40%;
  background-color: gray;
}
.bottom-signin > h2:hover {
  cursor: pointer;
  opacity: 0.8;
}
/*Header*/
.top-content {
  height: 400px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-title {
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 40px;
  letter-spacing: -5px;
}
.top-input {
  width: 90%;
  height: 60px;
  border: 1px solid black;
  padding: 1rem 1rem;

  border-radius: 5px;
  font-size: 20px;
}
.top-input:hover,
top-input:focus {
  border: 2px solid var(--blue);
}

/*Bottom-Content*/
.bottom-content {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 75px;
}
.bottom-content-inner {
  display: grid;
  gird-template-columns: 1fr;
}
.category-item {
  display: grid;
  grid-template-columns: 110px 1fr;
  padding: 30px 30px;

  max-width: 750px;
}
.category-img {
  display: flex;
  align-items: flex-start;
}
.category-img > img {
  width: 60%;
}
.category-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  font-size: 24px;
}
.category-link {
  text-decoration: none;
  color: var(--blue);
}
.category-link:hover {
  text-decoration: underline;
}

/*Footer*/

footer {
  background-color: black;
  color: white;

  padding: 30px;
}
.inner-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 25px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-links {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.footer-links:hover {
  text-decoration: underline;
}

.footer-item-contact {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.last {
}
.last-item {
  grid-area: footer;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.show {
  display: flex;
}

.hidder {
  display: none;
}
/*media responsive page*/

@media (min-width: 375px) {
  .left-header {
    padding-left: 10px;
  }
  .right-header-min {
    padding-right: 10px;
  }
  .right-header {
    display: none;
  }

  .search-header {
    padding: 0px;
  }

  .bottom-signin > h2 {
    width: 60%;
  }
  .top-input {
    width: 90%;
  }
  .top-title {
    font-size: 2.5em;
  }
}
@media (min-width: 640px) {
  .top-title {
    font-size: 3.5em;
  }
}
@media (min-width: 768px) {
  .left-header {
    padding-left: 100px;
  }
  .right-header-min {
    padding-right: 100px;
  }
  .top-input {
    min-width: 600px;
    max-width: 40%;
  }
  .top-title {
    font-size: 5em;
  }
  .bottom-content {
    padding: 0 30px;
  }
  .bottom-content-inner {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .category-img > img {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .right-header {
    display: flex;
  }

  .right-header-min,
  .search-header,
  .bottom-signin {
    display: none;
  }

  footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 110px;
  }
}

@media (min-width: 1280px) {
  .left-header {
    padding-left: 125px;
  }
  .right-header-min {
    padding-right: 125px;
  }
  .bottom-signin {
    display: none;
  }
  .search-header {
    display: none;
  }
  .inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1536px) {
  footer {
    display: flex;
    justify-content: center;
  }
}
